<% content_for :vue  do %>
  <%= javascript_pack_tag 'question_form' %>
<% end %>

<%= simple_form_for question, html: { id: "question_form" } do |f| %>
  <%= f.input :origin, 
          collection: question_origins, 
          include_blank: t("l.please_select"), 
          input_html: { class: "" } %>
  <%= f.input :body %>

  <div id="answer_field">
  	<%= f.input :answer %>
  </div>

  <div class="mt-5 text-center">
  	<%= f.button :submit, t('l.save'), class: "btn btn-light" %>
  </div>
<% end %>
