<%= page_title t("l.questions") %>

<%= content_for :actions do %>
  <div class="actions">
    <% if policy(Question).create? %>
      <%= link_to "", new_question_path, class: "actions__item zmdi zmdi-plus", data: tooltip_data(t("l.add_new")) %>
    <% end %>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover mb-3">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th><%= t('l.body') %></th>
        <th><%= t('l.origin') %></th>
        <th><%= t('l.creator') %></th>
        <th><%= t('l.created_at') %></th>
        <th width="5%"></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each_with_index do |question, i| %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td>
            <%= link_to question do %>
              <%= question.body %>
            <% end %>
          </td>
          <td><%= question.origin %></td>
          <td><%= question.creator.name %></td>
          <td><%= question.created_at.strftime("%d-%m-%Y") %></td>
          <td>
            <div class="btn-group">
              <% if policy(question).update? %>
                <%= link_to t("l.edit"), edit_question_path(question), class: "btn btn-secondary btn-sm" %>
              <% end %>
              <% if policy(question).destroy? %>
                <%= link_to t("l.delete"), question, method: :delete, data: { confirm: t("msg.are_u_sure") }, class: "btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @questions %>
</div>

