<%= page_title "#{t('l.questions')} - ##{@question.id}" %>

<%= content_for :actions do %>
  <div class="actions">
    <%= link_to "", questions_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back")) %>
    <% if policy(@question).update? %>
      <%= link_to "", edit_question_path(@question), class: "actions__item zmdi zmdi-edit", data: tooltip_data(t("l.edit")) %>
    <% end %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t('l.body') %></strong><br>
          <%= @question.body %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t('l.creator') %></strong><br>
          <%= @question.creator.name %>
        </div>
      </div>
    </div>
    <div class="row">
    	<div class="col-md-6">
        <div class="form-group">
          <strong><%= t('l.origin') %></strong><br>
          <%= @question.origin %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t('l.created_at') %></strong><br>
          <%= @question.created_at.strftime("%d-%m-%Y") %>
        </div>
      </div>
    </div>
    <% if @question.faq? %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <strong><%= t('l.answer') %></strong><br>
            <%= @question.answer %>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    <% end %>  
  </div>
</div>
