<%= page_title t("l.register") %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, email: params[:email], invitation_code: params[:invitation_code])) do |f| %>
  <%= f.input :name,
          label: false,
          required: true,
          autofocus: true ,
          input_html: { class: "form-control text-center", placeholder: t("l.name") }%>
  <%= f.input :organization,
          label: false,
          required: true,
          autofocus: true ,
          input_html: { class: "form-control text-center", placeholder: t("l.organization") }%>

  <%= button_tag(type: :submit, class: "btn btn--icon login__block__btn cursor-pointer") do %>
    <i class="zmdi zmdi-long-arrow-right"></i>
  <% end %>
<% end %>
