<%= page_title t("l.dashboard") %>

<%= content_for :actions do %>
  <div class="actions">
    <div class="btn-group" role="group">
		  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
				<%= @month_name.titleize %>
		  </button>
		  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-52px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
		    <% @months.each do |m| %>
		    	<a href="<%= admin_authenticated_path(m: m[1], y: @year) %>" class="dropdown-item"><%= m[0].titleize %></a>
		    <% end %>
		  </div>
		</div>
		<div class="btn-group" role="group">
		  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
				<%= @year %>
		  </button>
		  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-52px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
		    <% @years.each do |y| %>
		    	<a href="<%= admin_authenticated_path(m: @month, y: y) %>" class="dropdown-item"><%= y %></a>
		    <% end %>
		  </div>
		</div>
  </div>
<% end %>

<div class="clearfix mb-3"></div>

<div class="card widget-pie">
  <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
    	<span class="event-value"><%= @events.all_pending.count %></span>
  	<div>Pending for approval</div>
  </div>

  <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
  	<span class="event-value"><%= @events.all_approved.count %></span>
  	<div>Approved events</div>
  </div>

  <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
  	<span class="event-value"><%= @events.all_rejected.count %></span>
  	<div>Rejected events</div>
  </div>

  <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
  	<span class="event-value"><%= @events.all_draft.count %></span>
  	<div>Draft</div>
  </div>

  <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
  	<span class="event-value"><%= @events.all_completed.count %></span>
  	<div>Completed events</div>
  </div>

  <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
  	<span class="event-value"><%= @events.all_approved.all_today.count %></span>
  	<div>Today's events</div>
  </div>
</div>