<%= page_title t("l.search_result") %>

<%= content_for :actions do %>
  <div class="actions">
    <%= link_to "", admin_authenticated_path, class: "actions__item zmdi zmdi-arrow-left" %>
  </div>
<% end %>

<% if @admins.any? %>
	<h4 class="pl25"><%= t("l.admin_users") %></h4>

	<div class="listview listview--bordered listview--hover">
	  <% @admins.each do |admin| %>
	  	<a class="listview__item" href="<%= admin_path(admin) %>">
		    <div class="listview__content">
		      <div class="listview__heading"><%= admin.name %></div>
		      <p><%= [admin.staff_id, admin.email, admin.contact_number].reject { |e| e.to_s.empty? }.join(" | ") %></p>
		    </div>
		  </a>
	  <% end %>

	  <div class="clearfix mb-3"></div>
	</div>
<% end %>

<% if @events.any? %>
	<h4 class="pl25"><%= t("l.events") %></h4>

	<div class="listview listview--bordered listview--hover">
	  <% @events.each do |event| %>
	  	<a class="listview__item" href="<%= event_path(event) %>">
		    <div class="listview__content">
		      <div class="listview__heading"><%= event.title %></div>
		      <p><%= [event.date, "#{t('l.sessions')}: #{event.sessions.count}", event.status.humanize].reject { |e| e.to_s.empty? }.join(" | ") %></p>
		    </div>
		  </a>
	  <% end %>

	  <div class="clearfix mb-3"></div>
	</div>
<% end %>

<% if @surveys.any? %>
	<h4 class="pl25"><%= t("l.surveys") %></h4>

	<div class="listview listview--bordered listview--hover">
	  <% @surveys.includes(:creator).each do |survey| %>
	  	<a class="listview__item" href="<%= survey_path(survey) %>">
		    <div class="listview__content">
		      <div class="listview__heading"><%= survey.title %></div>
		      <p><%= [survey.description.truncate(50), survey.creator.name, "#{t('l.questions')}: #{survey.questions.count}"].reject { |e| e.to_s.empty? }.join(" | ") %></p>
		    </div>
		  </a>
	  <% end %>

	  <div class="clearfix mb-3"></div>
	</div>
<% end %>

<% if @faq_sets.any? %>
	<h4 class="pl25"><%= t("l.faq_sets") %></h4>

	<div class="listview listview--bordered listview--hover">
	  <% @faq_sets.includes(:creator).each do |faq_set| %>
	  	<a class="listview__item" href="<%= faq_set_path(faq_set) %>">
		    <div class="listview__content">
		      <div class="listview__heading"><%= faq_set.title %></div>
		      <p><%= [faq_set.description.truncate(50), faq_set.creator.name, "#{t('l.questions')}: #{faq_set.questions.count}"].reject { |e| e.to_s.empty? }.join(" | ") %></p>
		    </div>
		  </a>
	  <% end %>

	  <div class="clearfix mb-3"></div>
	</div>
<% end %>

<% if @questions.any? %>
	<h4 class="pl25"><%= t("l.questions") %></h4>

	<div class="listview listview--bordered listview--hover">
	  <% @questions.includes(:creator).each do |question| %>
	  	<a class="listview__item" href="<%= question_path(question) %>">
		    <div class="listview__content">
		      <div class="listview__heading"><%= question.body %></div>
		      <p><%= [question.origin.humanize, question.creator.name].reject { |e| e.to_s.empty? }.join(" | ") %></p>
		    </div>
		  </a>
	  <% end %>

	  <div class="clearfix mb-3"></div>
	</div>
<% end %>