<%= simple_form_for session do |f| %>
  <%= f.input :title %>
  <div class="row">
  	<div class="col-md-4">
      <%= f.input :day, 
      				collection: @event.days, 
          		include_blank: t("l.please_select"), 
          		input_html: { class: "select2" } %>
    </div>
    <div class="col-md-4">
      <%= f.input :start_time, as: :string, input_html: { class: "timepicker" } %>
    </div>
    <div class="col-md-4">
      <%= f.input :end_time, as: :string, input_html: { class: "timepicker" } %>
    </div>
  </div>
  <%= f.input :description %>
  <div class="mt-5 text-center">
    <%= f.button :submit, t("l.save"), class: "btn btn-light" %>
  </div>
<% end %>