<%= content_for :actions do %>
  <div class="actions">
    <%= link_to "", event_sessions_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back")) %>
    <% if EventPolicy.new(current_admin, @event).update? %>
      <%= link_to "", edit_event_session_path(@event, session), class: "actions__item zmdi zmdi-edit", data: tooltip_data(t("l.edit")) %>
      <% if act == 'show' %>
        <%= link_to "", settings_event_session_path(@event, session), class: "actions__item zmdi zmdi-settings", data: tooltip_data(t("l.settings")) %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t("l.title") %></strong><br>
          <%= session.title %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t("l.status") %></strong><br>
          <%= session.status.humanize %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t("l.time") %></strong><br>
          <%= "#{session.date.strftime("%d-%m-%Y")} | #{session.time}" %>
        </div>
      </div>

      <div class="col-md-6"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t("l.description") %></strong><br>
          <%= session.description %>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <% if act == 'settings' %>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h4><%= t('l.settings') %></h4>
          
          <div id="session_settings">
            <h6><%= t('l.participants') %></h6>

            <%= simple_form_for session, url: import_participants_event_session_url(@event, session) do |f| %>
              <div class="row">
                <div class="col-md-12 mb-3 mt-3">
                  <a class="btn btn-light btn--icon-text" href="<%= settings_event_session_path(@event, session, format: :csv) %>">
                    <i class="zmdi zmdi-download"></i>
                    <%= t("l.download_template") %>
                  </a>
                  <a href="#" class="btn btn-primary btn--icon-text">
                    <i class="zmdi zmdi-accounts-alt"></i>
                    <%= @session.participants.count %>
                  </a>
                </div>
                <div class="col-md-4">
                  <%= f.input :participant_list_file, label: false %>
                  <%= f.input :title, as: :hidden %>
                  <%= hidden_field_tag :_method, :patch %>
                </div>
                <div class="col-md-8">
                  <%= f.button :submit, t("l.import"), class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
              
            <hr>

            <h6><%= t('l.attachments') %></h6>

            <attachment-checkboxes :session="<%= session.as_json.to_json %>"></attachment-checkboxes>

            <hr>

            <h6><%= t('l.faqs') %></h6>

            <session-faqs :session="<%= session.as_json.to_json %>"></session-faqs>

            <hr>

            <h6><%= t('l.surveys') %></h6>

            <session-surveys :session="<%= session.as_json.to_json %>"></session-surveys>

            <hr>

            <h6><%= t('l.polls') %></h6>

            <% if EventPolicy.new(current_admin, @event).update? %>
              <a class="btn btn-light btn--icon-text mt-3 mb-3" href="<%= new_event_session_poll_path(@event, @session) %>">
                <i class="zmdi zmdi-plus"></i>
                <%= t("l.add") %>
              </a>
            <% end %>

            <% if @session.polls.any? %>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-inverse mb-0">
                      <thead>
                        <tr>
                          <th width="5%">#</th>
                          <th><%= t('l.title') %></th>
                          <th><%= t('l.items') %></th>
                          <th width="5%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @session.polls.each_with_index do |poll, i| %>
                          <tr>
                            <th scope="row"><%= i + 1 %></th>
                            <td>
                              <%= poll.title %>
                            </td>
                            <td><%= poll.poll_items.pluck(:item).join(", ") %></td>
                            <td>
                              <div class="btn-group">
                                <% if EventPolicy.new(current_admin, @event).update? %>
                                  <%= link_to t("l.edit"), edit_event_session_poll_path(@event, @session, poll), class: "btn btn-secondary btn-sm" %>
                                  <%= link_to t("l.delete"), [@event, @session, poll], method: :delete, data: { confirm: t("msg.are_u_sure") }, class: "btn btn-danger btn-sm" %>
                                <% end %>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>