<%= page_title "#{t('l.sessions')} - #{t('l.edit')}" %>

<div class="content__inner">
  <div class="card">
    <div class="card-body">
			<%= render 'form', session: [@event, @session], act: 'edit' %>
		</div>
  </div>
</div>

<% content_for :actions do %>
	<div class="actions">
		<%= link_to "", event_sessions_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back"))  %>
		<%= link_to "", [@event, @session], class: "actions__item zmdi zmdi-search-in-file", data: tooltip_data(t("l.view"))  %>
	</div>
<% end %>
