<%= page_title t("l.sessions") %>

<%= content_for :actions do %>
  <div class="actions">
    <%= link_to "", events_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back"))  %>
    <% if EventPolicy.new(current_admin, @event).update? %>
      <%= link_to "", new_event_session_path, class: "actions__item zmdi zmdi-plus", data: tooltip_data(t("l.add_new")) %>
    <% end %>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover mb-3">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th><%= t("l.title") %></th>
        <th><%= t("l.time") %></th>
        <th><%= t("l.status") %></th>
        <th><%= t("l.created_at") %></th>
        <th width="5%"></th>
      </tr>
    </thead>

    <tbody>
      <% policy_scope(@sessions).each_with_index do |session, i| %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td>
            <%= link_to [@event, session] do %>
              <%= session.title %>
            <% end %>
          </td>
          <td>
            <%= "#{session.date.strftime("%d-%m-%Y")} | #{session.time}" %>
          </td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-sm btn-<%= session.status_color %> <%= 'dropdown-toggle' if policy(session).update_status? %>" data-toggle="dropdown" aria-expanded="false">
                <%= t("l.#{session.status}") %>
              </button>
              <% if policy(session).update_status? %>
                <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -85px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <%= link_to t("l.not_started"), update_status_event_session_path(@event, session, status: :not_started), method: :post, class: "dropdown-item" %>
                  <%= link_to t("l.start"), update_status_event_session_path(@event, session, status: :started), method: :post, class: "dropdown-item" %>
                  <%= link_to t("l.end"), update_status_event_session_path(@event, session, status: :ended), method: :post, class: "dropdown-item" %>
                </div>
              <% end %>
              <% if policy(session).room? %>
                <%= link_to t("l.room"), room_event_session_path(@event, session), class: "btn btn-sm btn-info" %>
              <% end %>
            </div>
          </td>
          <td><%= session.created_at.strftime("%d-%m-%Y") %></td>
          <td>
            <% if EventPolicy.new(current_admin, @event).update? %>
              <div class="btn-group">
                <%= link_to t('l.settings'), settings_event_session_path(@event, session), class: "btn btn-light btn-sm" %>
                <%= link_to t('l.edit'), edit_event_session_path(@event, session), class: "btn btn-secondary btn-sm" %>
                <%= link_to t('l.delete'), [@event, session], method: :delete, data: { confirm: t('msg.are_u_sure') }, class: "btn btn-danger btn-sm" %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
