<%= page_title "#{t('l.sessions')} - #{t('l.add_new')}" %>

<div class="content__inner">
  <div class="card">
    <div class="card-body">
			<%= render 'form', session: [@event, @session], act: 'create' %>
		</div>
  </div>
</div>

<% content_for :actions do %>
	<div class="actions">
		<%= link_to "", event_sessions_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back")) %>
	</div>
<% end %>
