<%= page_title @session.title.upcase %>

<% content_for :vue  do %>
  <%= javascript_pack_tag 'session_room' %>
<% end %>

<div id="session_room">
  <session-room :is-admin="true" :session="<%= @session.as_json.to_json %>"></session-room>
</div>