<% content_for :vue  do %>
	<%= javascript_pack_tag 'session_settings' %>
<% end %>

<%= page_title "#{t('l.sessions')} - #{@session.title} - #{t('l.settings')}" %>

<%= render 'session_details', session: @session, act: 'settings' %>
