<%= page_title "#{@session_survey.survey.title} - #{t('l.responses')}" %>

<%= content_for :actions do %>
  <div class="actions">
    <% if policy(@event).summary? %>
      <%= link_to "", summary_event_path(@event), class: "actions__item zmdi zmdi-arrow-left" %>
    <% end %>
  </div>
<% end %>

<% if @session_survey.participant_surveys.any? %>
	<div class="row">
		<div class="col-md-3">
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	      <% @session_survey.participant_surveys.includes(:participant).each_with_index do |ps, i| %>
	      	<a class="nav-link <%= 'active' if i + 1 == 1 %>" id="psTab<%= i + 1 %>" data-toggle="pill" href="#ps<%= i + 1 %>" role="tab" aria-controls="ps<%= i + 1 %>" aria-selected="true"><%= ps.participant.name %></a>
	    	<% end %>
	    </div>
		</div>
		<div class="col-md-9">
			<div class="tab-content" id="v-pills-tabContent">
				<% @session_survey.participant_surveys.includes(:participant).each_with_index do |ps, i| %>
	      	<div class="tab-pane fade <%= 'active show' if i + 1 == 1 %>" id="ps<%= i + 1 %>" role="tabpanel" aria-labelledby="psTab<%= i + 1 %>">
	      		<ol>
	      			<% @session_survey.survey.survey_questions.includes(:question).order('created_at ASC').each do |sq| %>
	      				<li>
	      					<h6><%= sq.question.body %></h6>

	      					<code>
	      						<% if sq.likert_scale? %>
	      							<% likert_scale_answer = sq.question.participant_survey_responses.where(participant_survey_id: ps.id).first.answer %>
	      							<% if likert_scale_answer %>
	      								<%= ParticipantSurveyResponse::LIKER_SCALE_ANSWERS[likert_scale_answer.to_i - 1].humanize %>
	      							<% end %>
	      						<% else %>
	      							<%= sq.question.participant_survey_responses.where(participant_survey_id: ps.id).first.answer %>
	      						<% end %>
	      					</code>

	      					<div class="pb-3"></div>
	      				</li>
	      			<% end  %>
	      		</ol>
	      	</div>
	    	<% end %>
	    </div>
		</div>
	</div>
<% else %>
<% end %>