<%= content_for :actions do %>
  <div class="actions">
    <%= link_to "", faq_sets_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back")) %>
    <% if policy(faq_set).update? %>
      <%= link_to "", edit_faq_set_path(faq_set), class: "actions__item zmdi zmdi-edit", data: tooltip_data(t("l.edit")) %>
    <% end %>
    <% if act == 'show' && policy(faq_set).settings? %>
      <%= link_to "", settings_faq_set_path(faq_set), class: "actions__item zmdi zmdi-settings", data: tooltip_data(t("l.settings")) %>
    <% end %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.title') %></strong><br>
              <%= faq_set.title %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.creator') %></strong><br>
              <%= faq_set.creator.name %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.description') %></strong><br>
              <%= faq_set.description %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.created_at') %></strong><br>
              <%= faq_set.created_at.strftime("%d-%m-%Y") %>
            </div>
          </div>
        </div>
      </div>
      <% if faq_set.faq_set_questions.any? %>
        <div class="col-md-12">
          <h4>
            <%= t("l.questions") %>
          </h4>
          <div class="clearfix mb-3"></div>

          <div class="listview listview--bordered listview--hover">
            <% faq_set.faq_set_questions.includes(:question).each_with_index do |fq, i| %>
              <a class="listview__item" href="<%= question_path(fq.question) %>">
                <div class="listview__content">
                  <div class="listview__heading">
                    <%= i + 1 %>. <%= fq.question.body %>
                  </div>
                  <p><%= fq.question.answer %></p>
                </div>
              </a>
            <% end %>
            <div class="clearfix mb-3"></div>
          </div>
        </div>
      <% end %>
    </div>
    <% if act == 'settings' %>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h4><%= t('l.questions') %></h4>

          <div id="faq_set_questions">
            <faq-set-questions :faq-set="<%= faq_set.as_json.to_json %>"></faq-set-questions>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>