<%= simple_form_for(faq_set) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <div class="mt-5 text-center">
    <%= f.button :submit, t('l.save'), class: "btn btn-light" %>
  </div>
<% end %>
