<%= page_title "#{t('l.faq_sets')} - #{t('l.edit')}" %>

<div class="content__inner">
  <div class="card">
    <div class="card-body">
			<%= render 'form', faq_set: @faq_set, act: 'edit' %>
		</div>
  </div>
</div>

<% content_for :actions do %>
	<div class="actions">
		<%= link_to "", faq_sets_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t('l.back'))  %>
		<%= link_to "", @faq_set, class: "actions__item zmdi zmdi-search-in-file", data: tooltip_data(t('l.view'))  %>
	</div>
<% end %>
