<%= page_title t("l.faq_sets") %>

<%= content_for :actions do %>
  <div class="actions">
    <% if policy(FaqSet).create? %>
      <%= link_to "", new_faq_set_path, class: "actions__item zmdi zmdi-plus", data: tooltip_data(t("l.add_new")) %>
    <% end %>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover mb-3">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th><%= t('l.title') %></th>
        <th><%= t('l.description') %></th>
        <th><%= t('l.creator') %></th>
        <th><%= t('l.created_at') %></th>
        <th width="5%"></th>
      </tr>
    </thead>

    <tbody>
      <% @faq_sets.each_with_index do |faq_set, i| %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td>
            <%= link_to faq_set do %>
              <%= faq_set.title %>
            <% end %>
          </td>
          <td><%= faq_set.description.truncate(50) %></td>
          <td><%= faq_set.creator.name %></td>
          <td><%= faq_set.created_at.strftime("%d-%m-%Y") %></td>
          <td>
            <div class="btn-group">
              <% if policy(faq_set).settings? %>
                <%= link_to t('l.settings'), settings_faq_set_path(faq_set), class: "btn btn-light btn-sm" %>
              <% end %>
              <% if policy(faq_set).update? %>
                <%= link_to t("l.edit"), edit_faq_set_path(faq_set), class: "btn btn-secondary btn-sm" %>
              <% end %>
              <% if policy(faq_set).destroy? %>
                <%= link_to t("l.delete"), faq_set, method: :delete, data: { confirm: t("msg.are_u_sure") }, class: "btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @faq_sets %>
</div>
