<%= page_title "#{t('l.faq_sets')} - #{t('l.add_new')}" %>

<div class="content__inner">
  <div class="card">
    <div class="card-body">
			<%= render 'form', faq_set: @faq_set, act: 'create' %>
		</div>
  </div>
</div>

<% content_for :actions do %>
	<div class="actions">
		<%= link_to "", faq_sets_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back")) %>
	</div>
<% end %>
