<% content_for :vue  do %>
  <%= javascript_pack_tag 'faq_set_questions' %>
<% end %>

<%= page_title "#{t('l.faq_sets')} - #{@faq_set.title} - #{t('l.questions')}" %>

<%= render 'faq_set_details', faq_set: @faq_set, act: 'settings' %>
