<%= simple_form_for admin do |f| %>
  <%= f.input :name %>
  <%= f.input :email, required: true %>
  <%= f.input :staff_id, label: t('l.staff_id') %>
  <%= f.input :contact_number %>
  <%= f.input :role, 
          collection: admin_roles, 
          include_blank: t("l.please_select"), 
          input_html: { class: "select2" } %>
  <% if act == 'edit' %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation %>
  <% end %>
  <div class="mt-5 text-center">
    <%= f.button :submit, t("l.save"), class: "btn btn-light" %>
  </div>
<% end %>
    
