<%= page_title "#{t('l.admin_users')} - #{t('l.edit')}" %>

<div class="content__inner">
  <div class="card">
    <div class="card-body">
			<%= render 'form', admin: @admin, act: 'edit' %>
		</div>
  </div>
</div>

<% content_for :actions do %>
	<div class="actions">
		<%= link_to "", admins_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back"))  %>
		<%= link_to "", @admin, class: "actions__item zmdi zmdi-search-in-file", data: tooltip_data(t("l.view"))  %>
	</div>
<% end %>
