<%= page_title t("l.admin_users") %>

<%= content_for :actions do %>
  <div class="actions">
    <% if policy(Admin).create? %>
      <%= link_to "", new_admin_path, class: "actions__item zmdi zmdi-plus", data: tooltip_data(t("l.add_new")) %>
    <% end %>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover mb-3">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th><%= t("l.name") %></th>
        <th><%= t("l.staff_id") %></th>
        <th><%= t("l.email") %></th>
        <th><%= t("l.contact_number") %></th>
        <th><%= t("l.role") %></th>
        <th><%= t("l.created_at") %></th>
        <th width="5%"></th>
      </tr>
    </thead>

    <tbody>
      <% @admins.each_with_index do |admin, i| %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td>
            <%= link_to admin do %>
              <%= admin.name %>
            <% end %>
          </td>
          <td><%= nil_checker(admin.staff_id) %></td>
          <td><%= admin.email %></td>
          <td><%= nil_checker(admin.contact_number) %></td>
          <td><%= admin.role %></td>
          <td><%= admin.created_at.strftime("%d-%m-%Y") %></td>
          <td>
            <div class="btn-group">
              <% if policy(admin).update? %>
                <%= link_to t("l.edit"), edit_admin_path(admin), class: "btn btn-secondary btn-sm" %>
              <% end %>
              <% if policy(admin).destroy? %>
                <%= link_to t("l.delete"), admin, method: :delete, data: { confirm: t("msg.are_u_sure") }, class: "btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @admins %>
</div>
