<%= page_title "#{t('l.admin_users')} - #{@admin.name}" %>

<%= content_for :actions do %>
  <div class="actions">
    <%= link_to "", admins_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back")) %>
    <%= link_to "", edit_admin_path(@admin), class: "actions__item zmdi zmdi-edit", data: tooltip_data(t("l.edit")) %>
  </div>
<% end %>

<div class="card">
  <div class="new-contact__header">
    <img src="demo/img/contacts/user_empty.png" class="new-contact__img" alt="">
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t("l.name") %></strong><br>
          <%= @admin.name %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t("l.staff_id") %></strong><br>
          <%= nil_checker(@admin.staff_id) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t("l.email") %></strong><br>
          <%= @admin.email %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t("l.role") %></strong><br>
          <%= @admin.role %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong><%= t("l.contact_number") %></strong><br>
          <%= nil_checker(@admin.contact_number) %>
        </div>
      </div>
    </div>
  </div>
</div>
