<%= page_title t("l.register") %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.input :email,
          label: false,
          required: true,
          autofocus: true ,
          input_html: { autocomplete: "email", class: "form-control text-center", placeholder: t("l.email") }%>
  <%= f.input :password,
          label: false,
          required: true,
          input_html: { autocomplete: "new-password", class: "form-control text-center", placeholder: t("l.password") } %>
  <%= f.input :password_confirmation,
          label: false,
          required: true,
          input_html: { autocomplete: "new-password", class: "form-control text-center", placeholder: t("l.password_confirmation") } %>

  <%= button_tag(type: :submit, class: "btn btn--icon login__block__btn cursor-pointer") do %>
    <i class="zmdi zmdi-long-arrow-right"></i>
  <% end %>
<% end %>
