<%= page_title t("l.resend_unlock") %>

<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.input :email,
          label: false,
          required: true,
          autofocus: true ,
          input_html: { autocomplete: "email", class: "form-control text-center", placeholder: t("l.email") }%>

  <%= button_tag(type: :submit, class: "btn btn--icon login__block__btn cursor-pointer") do %>
    <i class="zmdi zmdi-long-arrow-right"></i>
  <% end %>
<% end %>


