<div class="nested-fields">
	<div class="row">
		<div class="col-md-5">
			<%= f.input :file, label: false %>
			<%= f.hidden_field :file_cache, :value => f.object.file_cache %>
		</div>
		<% if f.object.file? %>
			<div class="col-md-5">
				<%= f.object.file.file.filename %>
			</div>
		<% end %>
		<div class="col-md-2">
			<%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
				<i class="zmdi zmdi-close"></i>
			<% end %>
		</div>
	</div>
</div>