<%= content_for :actions do %>
  <div class="actions">
    <%= link_to "", events_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back")) %>
    <% if policy(event).update? %>
      <%= link_to "", edit_event_path(event), class: "actions__item zmdi zmdi-edit", data: tooltip_data(t("l.edit")) %>
    <% end %>
    <%= link_to "", event_sessions_path(event), class: "actions__item zmdi zmdi-settings", data: tooltip_data(t("l.sessions")) %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.title') %></strong><br>
              <%= event.title %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.date') %></strong><br>
              <%= event.date %> <br>
              <%= "(#{event.days.count} #{t('l.days')})" %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.description') %></strong><br>
              <%= event.description %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.invitation_code') %></strong><br>
              <%= event.invitation_code %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.creator') %></strong><br>
              <%= event.creator.name %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.creator_remark') %></strong><br>
              <%= event.creator_remark %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.assessor') %></strong><br>
              <%= event.assessor.nil? ? "N/A" : event.assessor.name %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.assessor_remark') %></strong><br>
              <%= event.assessor_remark %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if act == 'summarize' || act == 'review' %>
      <h4><%= t('l.sessions') %></h4>

      <div class="tab-container">
        <ul class="nav nav-tabs" role="tablist">
          <% @sessions.each_with_index do |s, i| %>
            <li class="nav-item">
              <a class="nav-link <%= 'active show' if i + 1 == 1 %>" data-toggle="tab" href="#eventSession<%= i + 1 %>" role="tab" aria-expanded="false"><%= "#{t('l.session')} #{i + 1}" %></a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% @sessions.each_with_index do |s, i| %>
            <div class="tab-pane fade <%= 'active show' if i + 1 == 1 %>" id="eventSession<%= i + 1 %>" role="tabpanel" aria-expanded="false">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <strong><%= t('l.title') %></strong><br>
                        <%= s.title %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <strong><%= t('l.time') %></strong><br>
                        <%= "#{s.time} | #{s.date.strftime("%d-%m-%Y")}" %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <strong><%= t('l.attachments') %></strong><br>
                        <% if s.attachments.any? %>
                          <% s.attachments.each do |attachment| %>
                            <%= link_to attachment.file.file.filename, attachment.file.url %><br>
                          <% end %>
                        <% else %>
                          N/A
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <strong><%= t('l.faq_sets') %></strong><br>
                        <% if s.session_faq_sets.any? %>
                          <% s.session_faq_sets.each do |sfs| %>
                            <%= link_to sfs.faq_set.title, sfs.faq_set %><br>
                          <% end %>
                        <% else %>
                          N/A
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <strong><%= t('l.participants') %></strong><br>
                        <%= render 'events/sections/participants', session: s, i: i %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <strong><%= t('l.survey_responses') %></strong><br>
                        
                        <% if s.session_surveys.any? %>
                          <div class="pb-3"></div>
                          <table class="table table-sm mb-0 table-bordered">
                            <thead>
                              <tr>
                                <th><%= t("l.survey") %></th>
                                <th><%= t("l.responses") %></th>
                                <th width="5%"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <% s.session_surveys.each_with_index do |ss, i| %>
                                <tr>
                                  <td>
                                    <a href="#" data-target="#surveysModal<%= ss.id %>" data-toggle="modal">
                                      <%= ss.survey.title %>
                                    </a>
                                    <%= render 'events/sections/surveys', ss: ss %>
                                  </td>
                                  <td><%= ss.participant_surveys.count %></td>
                                  <td>
                                    <% if policy(ss.session).survey_responses? %>
                                      <%= link_to t("l.assess"), survey_responses_event_session_path(event, ss.session.id, ssid: ss.id), class: "btn btn-sm btn-info" %>
                                    <% end %>
                                  </td>  
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        <% else %>
                          N/A
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <strong><%= t('l.polls') %></strong><br>
                        
                        <% if s.polls.any? %>
                          <div class="pb-3"></div>
                          <% s.polls.includes(:poll_items).each do |poll| %>
                            <h6 class="mb-3"><%= poll.title %></h6>

                            <ul>
                              <% poll.poll_items.each do |pi| %>
                                <li><%= pi.item %> (<%= pi.votes_for.size %>)</li>
                              <% end %>
                            </ul>

                            <div class="pb-3"></div>
                          <% end %>
                        <% else %>
                          N/A
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <% if act == 'review' %>
        <!-- STATUS UPDATE FORM -->
        <% if policy(event).submit? || policy(event).approve? || policy(event).reject? %>

          <h4><%= t('l.action') %></h4>
          
          <%= simple_form_for event, url: react_event_path(event) do |f| %>
            <% if policy(event).approve? || policy(event).reject? %>
              <%= f.input :assessor_remark %>
            <% end %>
            <% if policy(event).submit? %>
              <%= f.input :creator_remark %>
            <% end %>
            
            <%= hidden_field_tag :_method, :patch %>

            <div class="mt-5 text-center">
              <div class="btn-group">
                <% if policy(event).submit? %>
                  <%= f.button :submit, EventsController::SUBMIT, class: "btn btn-success" %>
                <% end %>
                <% if policy(event).approve? %>
                  <%= f.button :submit, EventsController::APPROVE, class: "btn btn-success" %>
                <% end %>
                <% if policy(event).reject? %>
                  <%= f.button :submit, EventsController::REJECT, class: "btn btn-danger" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <!-- STATUS UPDATE FORM -->
      <% end %>
    <% end %>
  </div>
</div>

<% if event.versions.any? %>
  <h4 class="mb-3"><%= t('l.logs') %></h4>

  <table class="table table-sm mb-0 table-bordered">
    <thead>
      <tr>
        <th><%= t("l.action") %></th>
        <th><%= t("l.by") %></th>
        <th><%= t("l.time") %></th>
        <th width="50%"><%= t("l.previous") %></th>
      </tr>
    </thead>
    <tbody>
      <% event.versions.each do |v| %>
        <tr>
          <td><%= v.event.humanize %></td>
          <td><%= v.whodunnit ? Admin.find(v.whodunnit.to_i).name : "N/A" %></td>
          <td>
            <%= v.created_at %>
          </td>
          <td>
            <% if v.reify %>
              <code>
                <%= v.reify.attributes.reject!{ |k, v| k == "id" } %>
              </code>
            <% else %>
              N/A
            <% end %>
          </td>  
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>