<%= simple_form_for event do |f| %>
  <%= f.input :title %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_date, as: :string, input_html: { class: "datepicker" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_date, as: :string, input_html: { class: "datepicker" } %>
    </div>
  </div>
  <%= f.input :description %>
  <%#= f.input :invitation_type, 
          collection: event_invitation_types, 
          include_blank: t("l.please_select"), 
          input_html: { class: "select2" } %>
  <%= f.input :invitation_code %>

  <h4><%= t('l.related_attachments') %></h4>

  <div id="attachments">
    <%= f.simple_fields_for :attachments do |attachment| %>
      <%= render 'attachment_fields', f: attachment %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t("l.add"), f, :attachments, class: "btn btn-sm btn-primary" %>
    </div>
  </div>

  <div class="mt-5 text-center">
    <%= f.button :submit, t('l.save'), class: "btn btn-light" %>
  </div>
<% end %>