<%= page_title t('l.events') %>

<%= content_for :actions do %>
  <div class="actions">
    <% if policy(Event).create? %>
      <%= link_to "", new_event_path, class: "actions__item zmdi zmdi-plus", data: tooltip_data(t('l.add_new')) %>
    <% end %>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover mb-3">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th><%= t('l.title') %></th>
        <th><%= t('l.date') %></th>
        <th><%= t('l.status') %></th>
        <th><%= t('l.created_at') %></th>
        <th width="5%"></th>
      </tr>
    </thead>

    <tbody>
      <% policy_scope(@events).each_with_index do |event, i| %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td>
            <% if policy(event).show? %>
              <%= link_to event do %>
                <%= event.title %>
              <% end %>
            <% end %>
          </td>
          <td><%= event.date %></td>
          <td>
            <span class="badge badge-pill badge-<%= event.status_color %>">
              <%= t("l.#{event.status}") %>
            </span>
          </td>
          <td>
            <%= event.created_at.strftime("%d-%m-%Y") %><br>
            <em>
              <%= "#{t('l.created_by')} #{event.creator == current_admin ? t('l.you') : (event.creator.nil? ? '-' : nil_checker(event.creator.name))}" %>
            </em>
          </td>
          <td>
            <div class="btn-group">
              <%= link_to t('l.sessions'), event_sessions_path(event), class: "btn btn-light btn-sm" %>
              <% if policy(event).send_invitation? %>
                <%= link_to t('l.send_invitation'), send_invitation_event_path(event), method: :post, class: "btn btn-primary btn-sm" %>
              <% end %>
              <% if policy(event).review? %>
                <%= link_to t('l.review'), review_event_path(event), class: "btn btn-success btn-sm" %>
              <% end %>
              <% if policy(event).summary? %>
                <%= link_to t('l.summary'), summary_event_path(event), class: "btn btn-info btn-sm" %>
              <% end %>
              <% if policy(event).update? %>
                <%= link_to t('l.edit'), edit_event_path(event), class: "btn btn-secondary btn-sm" %>
              <% end %>
              <% if policy(event).destroy? %>
                <%= link_to t('l.cancel'), event, method: :delete, data: { confirm: t('msg.are_u_sure') }, class: "btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @events %>
</div>
