<%= simple_form_for poll do |f| %>
  <%= f.input :title %>

  <h4><%= t('l.poll_items') %></h4>

  <div id="poll_items">
    <%= f.simple_fields_for :poll_items do |poll_item| %>
      <%= render 'poll_item_fields', f: poll_item %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t("l.add"), f, :poll_items, class: "btn btn-sm btn-primary" %>
    </div>
  </div>

  <div class="mt-5 text-center">
    <%= f.button :submit, t('l.save'), class: "btn btn-light" %>
  </div>
<% end %>