<div class="nested-fields">
	<div class="row">
		<div class="col-md-5">
			<%= f.input :item, label: false %>
		</div>
		<div class="col-md-2">
			<%= link_to_remove_association f, class: "btn btn-sm btn-danger" do %>
				<i class="zmdi zmdi-close"></i>
			<% end %>
		</div>
	</div>
</div>