<%= page_title "#{t('l.polls')} - #{t('l.add_new')}" %>

<div class="content__inner">
  <div class="card">
    <div class="card-body">
			<%= render 'form', poll: [@event, @session, @poll], act: 'create' %>
		</div>
  </div>
</div>

<% content_for :actions do %>
	<div class="actions">
		<%= link_to "", settings_event_session_path(@event, @session), class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back"))  %>
	</div>
<% end %>
