<template>
	<div class="mb2r">
		<template v-for="attachment in attachments">
			<label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" v-model="attachment.checked" @change="attach(attachment)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">
        	<a :href="attachment.url" target="_blank">
        		<b :class="{'text-success': attachment.checked}">{{ attachment.name }}</b>
        	</a>
        </span>
	    </label>
	    <div class="clearfix mb-2"></div>
		</template>
	</div>
</template>

<script>
	import axios from 'axios'

	export default {
		props: {
			session: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				attachments: this.session.event.attachments
			}
		},
		methods: {
			attach(attachment) {
				if (attachment.checked) {
					axios.post('/admin/events/' + this.session.event.id + '/sessions/' + this.session.id + '/add_attachment', {
						attachment_id: attachment.id
					}).then(res => {
						console.log("OK!")
					}).catch(err => {
						console.log(err)
					})
				} else {
					axios.delete('/admin/events/' + this.session.event.id + '/sessions/' + this.session.id + '/remove_attachment', {
						params: {
							attachment_id: attachment.id
						}
					}).then(res => {
						console.log("DELETED!")
					}).catch(err => {
						console.log(err)
					})
				}
			}
		}
	}
</script>