<%= page_title t("l.please_login") %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email,
          label: false,
          required: false,
          autofocus: true,
          input_html: { autocomplete: "email", class: "form-control text-center", placeholder: t("l.email") } %>
  <%= f.input :password,
          label: false,
          required: false,
          input_html: { autocomplete: "current-password", class: "form-control text-center", placeholder: t("l.password") } %>
  <%= f.input :remember_me, 
          as: :boolean, 
          wrapper: :custom_boolean if devise_mapping.rememberable? %>

  <%= button_tag(type: :submit, class: "btn btn--icon login__block__btn cursor-pointer") do %>
    <i class="zmdi zmdi-long-arrow-right"></i>
  <% end %>
<% end %>