<template>
	<div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
		      <input type="text" class="form-control" placeholder="Find surveys" v-model="surveyTitle">
		      <i class="form-group__bar"></i>
		    </div>
			</div>
			<div class="col-md-12" v-if="showSearchResult">
				<div class=""><!-- relative-width -->
					<div class="bg-primary"><!-- absolute-listview -->
						<div class="listview listview--bordered">
		          <div class="listview__item" v-for="(survey, i) in surveyResults">
		            <label class="custom-control custom-checkbox align-self-start">
		              <input type="checkbox" class="custom-control-input" v-model="survey.checked" @change="attach(survey)">
		              <span class="custom-control-indicator"></span>
		            </label>
		            <div class="listview__content">
		            	<div class="listview__heading">
		            		{{ survey.title }}
		            	</div>
		            	<div class="listview__attrs">
	                  <span>{{ survey.creator }}</span>
		              </div>
		            </div>
		          </div>
		        </div>
					</div>
				</div>
        <div class="clearfix mb-3"></div>
			</div>
		</div>
		<div class="row" v-if="!hideList">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-inverse mb-0">
	          <thead>
		          <tr>
		            <th width="5%">#</th>
		            <th>Survey</th>
		            <th width="5%"></th>
		          </tr>
	          </thead>
	          <tbody>
		          <tr v-for="(sessionSurvey, i) in sessionSurveys">
		            <th scope="row">{{ i + 1 }}</th>
		            <td>{{ sessionSurvey.survey.title }}</td>
		            <td>
		            	<div class="btn-group float-right">
		            		<button class="btn btn-danger btn-sm" @click="removeSurvey(sessionSurvey)">Remove</button>
		            	</div>
		            </td>
		          </tr>
	          </tbody>
		      </table>
	      </div>
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'

	export default {
		props: {
			session: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				surveyTitle: "",
				sessionSurveys: this.session.surveys,
				surveyResults: []
			}
		},
		computed: {
			showSearchResult() {
				return this.surveyResults.length >= 1
			},
			hideList() {
        return this.sessionSurveys.length < 1
      }
		},
		watch: {
			surveyTitle(newSurvey, oldSurvey) {
				this.debouncedGetSurveys()
			}
		},
		created() {
			this.debouncedGetSurveys = _.debounce(this.getSurveys, 500)
		},
		methods: {
			removeSurvey(sessionSurvey) {
				let surveyId = sessionSurvey.survey ? sessionSurvey.survey.id : sessionSurvey.id

				axios.delete('/admin/events/' + this.session.event.id + '/sessions/' + this.session.id + '/remove_survey', {
					params: {
						survey_id: surveyId
					}
				}).then(res => {
					this.sessionSurveys.splice(this.sessionSurveys.indexOf(sessionSurvey), 1)

					if (sessionSurvey.survey) {
						let surveyFromResult = _.find(this.surveyResults, ['id', surveyId])
						
						if (surveyFromResult) {
							this.$set(this.surveyResults[this.surveyResults.indexOf(surveyFromResult)], 'checked', false)
						}
					}
				}).catch(err => {
					console.log(err)
				})
			},
			getSurveys() {
				let vm = this

				vm.surveyResults = []

				if (vm.surveyTitle.length < 1) {
					return
				}

				axios.get('/admin/surveys', {
					params: {
						session_id: this.session.id,
						q: {
							title_cont: vm.surveyTitle
						}
					}
				}).then(res => {
					vm.surveyResults = res.data
				}).catch(err => {
					console.log(err)
				})
			},
			attach(survey) {
				if (survey.checked) {
					axios.post('/admin/events/' + this.session.event.id + '/sessions/' + this.session.id + '/add_survey/', {
						survey_id: survey.id
					}).then(res => {
						this.sessionSurveys.push(res.data)
					}).catch(err => {
						console.log(err)
					})
				} else {
					this.removeSurvey(survey)
				}
			}
		}
	}
</script>