<template>
	<div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
		      <input type="text" class="form-control" placeholder="Find or create question" v-model="question">
		      <i class="form-group__bar"></i>
		    </div>
			</div>
			<div class="col-md-6">
				<button class="btn btn-success" @click="createQuestion" :disabled="disableCreate">Create</button>
			</div>
			<div class="col-md-12" v-if="showSearchResult">
				<div class=""><!-- relative-width -->
					<div class="bg-primary"><!-- absolute-listview -->
						<div class="listview listview--bordered">
		          <div class="listview__item" v-for="(question, i) in questionResults">
		            <label class="custom-control custom-checkbox align-self-start">
		              <input type="checkbox" class="custom-control-input" v-model="question.checked" @change="attach(question)">
		              <span class="custom-control-indicator"></span>
		            </label>
		            <div class="listview__content">
		            	<div class="listview__heading">
		            		{{ question.body }}
		            	</div>
		            	<div class="listview__attrs">
	                  <span>{{ question.origin }}</span>
	                  <span>{{ question.creator }}</span>
		              </div>
		            </div>
		          </div>
		        </div>
					</div>
				</div>
        <div class="clearfix mb-3"></div>
			</div>
		</div>
		<div class="row" v-if="!hideList">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-inverse mb-0">
	          <thead>
		          <tr>
		            <th width="5%">#</th>
		            <th>Question</th>
		            <th width="5%"></th>
		          </tr>
	          </thead>
	          <tbody>
		          <tr v-for="(surveyQuestion, i) in surveyQuestions">
		            <th scope="row">{{ i + 1 }}</th>
		            <td>{{ surveyQuestion.question.body }}</td>
		            <td>
		            	<div class="btn-group float-right">
		            		<div class="btn-group" role="group">
                      <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      	{{ surveyQuestion.format }}
                      </button>
                      <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -85px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" @click="updateQuestionFormat(i, 'likert_scale')">Likert scale</a>
                        <a class="dropdown-item" @click="updateQuestionFormat(i, 'free_text')">Free text</a>
                      </div>
	                  </div>
		            		<button class="btn btn-danger btn-sm" @click="removeQuestion(surveyQuestion)">Remove</button>
		            	</div>
		            </td>
		          </tr>
	          </tbody>
		      </table>
	      </div>
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'

	export default {
		props: {
			survey: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				question: "",
				surveyQuestions: this.survey.questions,
				questionResults: []
			}
		},
		computed: {
			disableCreate() {
				return this.question.length < 1 || this.questionResults.length >= 1
			},
			showSearchResult() {
				return this.questionResults.length >= 1
			},
			hideList() {
        return this.surveyQuestions.length < 1
      }
		},
		watch: {
			question(newQuestion, oldQuestion) {
				this.debouncedGetQuestions()
			}
		},
		created() {
			this.debouncedGetQuestions = _.debounce(this.getQuestions, 500)
		},
		methods: {
			createQuestion() {
				axios.post('/admin/surveys/' + this.survey.id + '/create_question', {
					question: {
						body: this.question
					}
				}).then(res => {
					this.surveyQuestions.push(res.data)
					this.$set(this, 'question', "")
				}).catch(err => {
					console.log(err)
				})
			},
			removeQuestion(surveyQuestion) {
				let questionId = surveyQuestion.question ? surveyQuestion.question.id : surveyQuestion.id

				axios.delete('/admin/surveys/' + this.survey.id + '/remove_question', {
					params: {
						question_id: questionId
					}
				}).then(res => {
					this.surveyQuestions.splice(this.surveyQuestions.indexOf(surveyQuestion), 1)
					
					if (surveyQuestion.question) {
						let questionFromResult = _.find(this.questionResults, ['id', questionId])
						
						if (questionFromResult) {
							this.$set(this.questionResults[this.questionResults.indexOf(questionFromResult)], 'checked', false)
						}
					}
				}).catch(err => {
					console.log(err)
				})
			},
			updateQuestionFormat(index, questionFormat) {
				axios.post('/admin/surveys/' + this.survey.id + '/update_question_format', {
					survey_question_id: this.surveyQuestions[index].id,
					question_format: questionFormat
				}).then(res => {
					this.$set(this.surveyQuestions[index], 'format', res.data.format)
				}).catch(err => {
					console.log(err)
				})
			},
			getQuestions() {
				let vm = this

				vm.questionResults = []

				if (vm.question.length < 1) {
					return
				}

				axios.get('/admin/questions', {
					params: {
						survey_id: this.survey.id,
						q: {
							body_cont: vm.question
						}
					}
				}).then(res => {
					vm.questionResults = res.data
				}).catch(err => {
					console.log(err)
				})
			},
			attach(question) {
				if (question.checked) {
					axios.post('/admin/surveys/' + this.survey.id + '/add_question/', {
						question_id: question.id
					}).then(res => {
						this.surveyQuestions.push(res.data)
					}).catch(err => {
						console.log(err)
					})
				} else {
					this.removeQuestion(question)
				}
			}
		}
	}
</script>