<header class="header">
	<a class="navigation-trigger hidden-xl-up" href="#" data-sa-action="aside-open" data-sa-target=".sidebar">
  	<i class="zmdi zmdi-menu"></i>
  </a>

  <div class="logo hidden-sm-down">
		<h1>
      <a href="<%= admin_signed_in? ? admin_authenticated_path : p_participant_authenticated_path %>"><i>HandzUp!</i></a>
    </h1>
  </div>

  <% if current_admin %>
    <% unless controller.controller_name == "sessions" && controller.action_name == "pubroom" %>
      <%= simple_form_for :search, url: search_url, html: { class: "search", method: :post }  do |f| %>
        <div class="search__inner">
          <%= f.input_field :keyword, label: false, class: "search__text", placeholder: t('l.search_keyword') %>
          <i class="zmdi zmdi-search search__helper" data-sa-action="search-close"></i>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <ul class="top-nav">
    <!-- <li class="hidden-xl-up"><a href="" data-sa-action="search-open"><i class="zmdi zmdi-search"></i></a></li> -->

    <!-- <li class="dropdown">
      <a href="" data-toggle="dropdown" class="top-nav__notify"><i class="zmdi zmdi-email"></i></a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu--block">
        <div class="dropdown-header">
            Messages

          <div class="actions">
              <a href="messages.html" class="actions__item zmdi zmdi-plus"></a>
          </div>
        </div>

        <div class="listview listview--hover">
          <a href="" class="listview__item">
            <img src="demo/img/profile-pics/1.jpg" class="listview__img" alt="">

            <div class="listview__content">
              <div class="listview__heading">
                David Belle <small>12:01 PM</small>
              </div>
              <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
            </div>
          </a>

          <a href="" class="view-more">View all messages</a>
        </div>
      </div>
    </li>

    <li class="dropdown top-nav__notifications">
      <a href="" data-toggle="dropdown" class="top-nav__notify">
      	<i class="zmdi zmdi-notifications"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu--block">
        <div class="dropdown-header">
          Notifications

          <div class="actions">
          	<a href="" class="actions__item zmdi zmdi-check-all" data-sa-action="notifications-clear"></a>
          </div>
        </div>

        <div class="listview listview--hover">
          <div class="listview__scroll scrollbar-inner">
            <a href="" class="listview__item">
              <img src="demo/img/profile-pics/1.jpg" class="listview__img" alt="">

              <div class="listview__content">
                <div class="listview__heading">David Belle</div>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
              </div>
            </a>
          </div>

          <div class="p-1"></div>
        </div>
      </div>
    </li>

    <li class="dropdown hidden-xs-down">
      <a href="" data-toggle="dropdown"><i class="zmdi zmdi-check-circle"></i></a>

      <div class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
        <div class="dropdown-header">Tasks</div>

        <div class="listview listview--hover">
          <a href="" class="listview__item">
            <div class="listview__content">
              <div class="listview__heading">HTML5 Validation Report</div>

              <div class="progress mt-1">
              	<div class="progress-bar bg-primary w25p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </a>

          <a href="" class="view-more">View all Tasks</a>
        </div>
      </div>
    </li>

    <li class="dropdown hidden-xs-down">
			<a href="" data-toggle="dropdown"><i class="zmdi zmdi-apps"></i></a>

      <div class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
        <div class="row app-shortcuts">
          <a class="col-4 app-shortcuts__item" href="">
            <i class="zmdi zmdi-calendar"></i>
            <small class="">Calendar</small>
          </a>
        </div>
      </div>
    </li> -->

    <li class="hidden-sm-down">
      <a href="" data-sa-action="fullscreen"><i class="zmdi zmdi-fullscreen-alt"></i></a>
    </li>

    <!-- <li class="hidden-xs-down">
    	<a href="" class="top-nav__themes" data-sa-action="aside-open" data-sa-target=".themes"><i class="zmdi zmdi-palette"></i></a>
    </li> -->
	</ul>

  <div class="clock hidden-md-down">
    <div class="time">
      <span class="time__hours"></span>
      <span class="time__min"></span>
      <span class="time__sec"></span>
    </div>
  </div>
</header>