<aside class="sidebar">
  <div class="scrollbar-inner">
    <% if current_admin %>
      <%= render "layouts/app/user_info", 
          user: current_admin, 
          logout_path: destroy_admin_session_path,
          is_admin: true %>
    <% else %>
      <%= render "layouts/app/user_info",
          user: current_p_participant, 
          logout_path: destroy_p_participant_session_path,
          is_admin: false %>
    <% end %>

    <ul class="navigation">
      <% if current_admin %>
        <li class="<%= active_class?(['dashboard'], [], false) %>">
          <%= link_to admin_authenticated_path do %>
            <i class="zmdi zmdi-home"></i> <%= t("l.dashboard") %>
          <% end %>
        </li>
        <% if policy(Event).index? %>
          <li class="<%= active_class?(['events', 'sessions'], [], false) %>">
            <%= link_to events_path do %>
              <i class="zmdi zmdi-calendar"></i> <%= t("l.events") %>
            <% end %>
          </li>
        <% end %>
        <% if policy(Survey).index? %>
          <li class="<%= active_class?(['surveys'], [], false) %>">
            <%= link_to surveys_path do %>
              <i class="zmdi zmdi-assignment"></i> <%= t("l.surveys") %>
            <% end %>
          </li>
        <% end %>
        <% if policy(FaqSet).index? %>
          <li class="<%= active_class?(['faq_sets'], [], false) %>">
            <%= link_to faq_sets_path do %>
              <i class="zmdi zmdi-pin-help"></i> <%= t("l.faqs") %>
            <% end %>
          </li>
        <% end %>
        <% if policy(Question).index? %>
          <li class="<%= active_class?(['questions'], [], false) %>">
            <%= link_to questions_path do %>
              <i class="zmdi zmdi-help"></i> <%= t("l.questions") %>
            <% end %>
          </li>
        <% end %>
        <% if policy(Admin).index? %>
          <li class="<%= active_class?(['admins'], [], false) %>">
            <%= link_to admins_path do %>
              <i class="zmdi zmdi-accounts"></i> <%= t("l.admin_users") %>
            <% end %>
          </li>
        <% end %>
        <!-- <li class="navigation__sub <%#= active_class?(['dashboard'], [], true) %>">
          <a href=""><i class="zmdi zmdi-view-week"></i> Variants</a>

          <ul>
            <li class="<%#= active_class?(['dashboard'], ['index'], false) %>">
              <%#= link_to t("l.dashboard"), admin_authenticated_path %>
            </li>
            <li class="<%#= active_class?(['dashboard'], ['index'], false) %>">
              <%#= link_to t("l.dashboard"), admin_authenticated_path %>
            </li>
            <li class="<%#= active_class?(['dashboard'], ['index'], false) %>">
              <%#= link_to t("l.dashboard"), admin_authenticated_path %>
            </li>
          </ul>
        </li> -->
      <% else %>
        <li class="<%= active_class?(['rooms'], [], false) %>">
          <%= link_to p_participant_authenticated_path do %>
            <i class="zmdi zmdi-cast"></i> <%= t("l.rooms") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>