<div class="user">
  <div class="user__info" data-toggle="dropdown">
    <!-- <img class="user__img" src="demo/img/profile-pics/8.jpg" alt=""> -->
    <div>
      <div class="user__name"><%= user.name %></div>
      <div class="user__email"><%= user.email %></div>
    </div>
  </div>

  <div class="dropdown-menu">
    <% if is_admin %>
      <%= link_to t("l.view_profile"), user, class: "dropdown-item" %>
      <%= link_to t("l.settings"), edit_admin_path(user), class: "dropdown-item" %>
    <% end %>
    <%= link_to t("l.logout"), logout_path, method: :delete, class: "dropdown-item" %>
  </div>
</div>