<%= content_for :actions do %>
  <div class="actions">
    <%= link_to "", surveys_path, class: "actions__item zmdi zmdi-arrow-left", data: tooltip_data(t("l.back")) %>
    <% if policy(survey).update? %>
      <%= link_to "", edit_survey_path(survey), class: "actions__item zmdi zmdi-edit", data: tooltip_data(t("l.edit")) %>
    <% end %>
    <% if act == 'show' && policy(survey).settings? %>
      <%= link_to "", settings_survey_path(survey), class: "actions__item zmdi zmdi-settings", data: tooltip_data(t("l.settings")) %>
    <% end %>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.title') %></strong><br>
              <%= survey.title %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.creator') %></strong><br>
              <%= survey.creator.name %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.description') %></strong><br>
              <%= survey.description %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <strong><%= t('l.created_at') %></strong><br>
              <%= survey.created_at.strftime("%d-%m-%Y") %>
            </div>
          </div>
        </div>
      </div>
      <% if survey.survey_questions.any? %>
        <div class="col-md-12">
          <h4>
            <%= t("l.questions") %>
          </h4>
          <div class="clearfix mb-3"></div>

          <div class="listview listview--bordered listview--hover">
            <% survey.survey_questions.includes(:question).each_with_index do |sq, i| %>
              <a class="listview__item" href="<%= question_path(sq.question) %>">
                <div class="listview__content">
                  <div class="listview__heading">
                    <%= i + 1 %>. <%= sq.question.body %>
                  </div>
                  <p><%= sq.question_format.humanize %></p>
                </div>
              </a>
            <% end %>
            <div class="clearfix mb-3"></div>
          </div>
        </div>
      <% end %>
    </div>
    <% if act == 'settings' %>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h4><%= t('l.questions') %></h4>

          <div id="survey_questions">
            <survey-questions :survey="<%= survey.as_json.to_json %>"></survey-questions>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>