<%= page_title t("l.surveys") %>

<%= content_for :actions do %>
  <div class="actions">
    <% if policy(Survey).create? %>
      <%= link_to "", new_survey_path, class: "actions__item zmdi zmdi-plus", data: tooltip_data(t("l.add_new")) %>
    <% end %>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-hover mb-3">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th><%= t('l.title') %></th>
        <th><%= t('l.description') %></th>
        <th><%= t('l.creator') %></th>
        <th><%= t('l.created_at') %></th>
        <th width="5%"></th>
      </tr>
    </thead>

    <tbody>
      <% @surveys.each_with_index do |survey, i| %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td>
            <%= link_to survey do %>
              <%= survey.title %>
            <% end %>
          </td>
          <td><%= survey.description.truncate(50) %></td>
          <td><%= survey.creator.name %></td>
          <td><%= survey.created_at.strftime("%d-%m-%Y") %></td>
          <td>
            <div class="btn-group">
              <% if policy(survey).settings? %>
                <%= link_to t('l.settings'), settings_survey_path(survey), class: "btn btn-light btn-sm" %>
              <% end %>
              <% if policy(survey).update? %>
                <%= link_to t("l.edit"), edit_survey_path(survey), class: "btn btn-secondary btn-sm" %>
              <% end %>
              <% if policy(survey).destroy? %>
                <%= link_to t("l.delete"), survey, method: :delete, data: { confirm: t("msg.are_u_sure") }, class: "btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @surveys %>
</div>
