<% content_for :vue  do %>
  <%= javascript_pack_tag 'survey_questions' %>
<% end %>

<%= page_title "#{t('l.surveys')} - #{@survey.title} - #{t('l.questions')}" %>

<%= render 'survey_details', survey: @survey, act: 'settings' %>
