<%= page_title t("l.lets_participate") %>

<%= simple_form_for :ep, url: p_validate_participant_url do |f| %>
  <%= f.input :email,
          label: false,
          required: false,
          autofocus: true,
          input_html: { autocomplete: "email", class: "form-control text-center", placeholder: t("l.email") } %>
  <%= f.input :invitation_code,
          label: false,
          required: false,
          input_html: { class: "form-control text-center", placeholder: t("l.invitation_code") } %>

  <%= button_tag(type: :submit, class: "btn btn--icon login__block__btn cursor-pointer") do %>
    <i class="zmdi zmdi-long-arrow-right"></i>
  <% end %>
<% end %>