<p>
	Dear <%= @resource.name %>,
</p>

<p>
	Your HandzUp! account has been created. For first time login, you have to confirm your account by clicking <%= link_to t("l.here"), confirmation_url(@resource, confirmation_token: @token) %>. 
</p>

<p>
	You are advised to change your password at setting section immediately upon successful login for security reasons. Please find below your User ID and a temporary password for your reference. <br><br>

	<b><%= t("l.email") %></b><br>
	<%= @email %><br><br>

	<b><%= t("l.otp") %></b><br>
	<%= @resource.otp.reverse %>
</p>

<p>
	Should you have any enquiries or require further clarification, please email us at hu_admin@cybersecurity.my.
</p>

<p>
	Thank you.
</p>

<p>
	<b>HandzUp Administrator</b>
</p>
