<%= page_title t("l.rooms") %>

<% if @participant_sessions.any? %>
	<div class="row">
		<% @participant_sessions.each do |ps| %>
			<div class="col-md-6">
				<div class="card text-white <%= ps.session.started? ? 'bg-success' : 'bg-danger' %>">
			    <div class="card-body">
			      <h4 class="card-title"><%= ps.session.title.titleize %></h4>

			      <p>
			      	<%= ps.session.description.truncate(100) %>
			      </p>

			      <%= link_to t("l.enter_room"), p_room_path(ps.session_key), class: "card-link" %>
			    </div>
			  </div>
			</div>
		<% end %>
	</div>
<% else %>
	<%= no_result_message %>
<% end %>

<!-- <header class="content__title">
	<h1><%#= t("l.previous_sessions") %></h1>
</header>

<div class="row">
	<div class="col-md-6">
		<div class="card text-white bg-danger">
	    <div class="card-body">
	      <h4 class="card-title">Card title</h4>
	      <h6 class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur</h6>

	      <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
	    </div>
	  </div>
	</div>
</div> -->