<%= page_title @session.title.upcase %>

<% content_for :vue  do %>
  <%= javascript_pack_tag 'session_room' %>
<% end %>

<div id="session_room">
  <session-room 
  	:cpid="<%= current_p_participant.id %>" 
  	:is-admin="false" 
  	:session="<%= @session.as_json(session_key: params[:session_key], participant_id: current_p_participant.id).to_json %>">
  </session-room>
</div>