<template>
	<div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
		      <input type="text" class="form-control" placeholder="Find or create question" v-model="question">
		      <i class="form-group__bar"></i>
		    </div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
		      <input type="text" class="form-control" placeholder="Answer" v-model="answer">
		      <i class="form-group__bar"></i>
		    </div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-success" @click="createQuestion" :disabled="disableCreate">Create</button>
			</div>
			<div class="col-md-12" v-if="showSearchResult">
				<div class=""><!-- relative-width -->
					<div class="bg-primary"><!-- absolute-listview -->
						<div class="listview listview--bordered">
		          <div class="listview__item" v-for="(question, i) in questionResults">
		            <label class="custom-control custom-checkbox align-self-start">
		              <input type="checkbox" class="custom-control-input" v-model="question.checked" @change="attach(question)">
		              <span class="custom-control-indicator"></span>
		            </label>
		            <div class="listview__content">
		            	<div class="listview__heading">
		            		{{ question.body }}
		            	</div>
		            	<div class="listview__attrs">
	                  <span>{{ question.origin }}</span>
	                  <span>{{ question.creator }}</span>
		              </div>
		            </div>
		          </div>
		        </div>
					</div>
				</div>
        <div class="clearfix mb-3"></div>
			</div>
		</div>
		<div class="row" v-if="!hideList">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-inverse mb-0">
	          <thead>
		          <tr>
		            <th width="5%">#</th>
		            <th>Question</th>
		            <th width="5%"></th>
		          </tr>
	          </thead>
	          <tbody>
		          <tr v-for="(faqSetQuestion, i) in faqSetQuestions">
		            <th scope="row">{{ i + 1 }}</th>
		            <td>{{ faqSetQuestion.question.body }}</td>
		            <td>
		            	<div class="btn-group float-right">
		            		<button class="btn btn-danger btn-sm" @click="removeQuestion(faqSetQuestion)">Remove</button>
		            	</div>
		            </td>
		          </tr>
	          </tbody>
		      </table>
	      </div>
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'

	export default {
		props: {
			faqSet: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				question: "",
				answer: "",
				faqSetQuestions: this.faqSet.questions,
				questionResults: []
			}
		},
		computed: {
			disableCreate() {
				return this.question.length < 1 || this.answer.length < 1 || this.questionResults.length >= 1
			},
			showSearchResult() {
				return this.questionResults.length >= 1
			},
			hideList() {
        return this.faqSetQuestions.length < 1
      }
		},
		watch: {
			question(newQuestion, oldQuestion) {
				this.debouncedGetQuestions()
			}
		},
		created() {
			this.debouncedGetQuestions = _.debounce(this.getQuestions, 500)
		},
		methods: {
			createQuestion() {
				axios.post('/admin/faq_sets/' + this.faqSet.id + '/create_question', {
					question: {
						body: this.question,
						answer: this.answer
					}
				}).then(res => {
					this.faqSetQuestions.push(res.data)
					this.$set(this, 'question', "")
				}).catch(err => {
					console.log(err)
				})
			},
			removeQuestion(faqSetQuestion) {
				let questionId = faqSetQuestion.question ? faqSetQuestion.question.id : faqSetQuestion.id

				axios.delete('/admin/faq_sets/' + this.faqSet.id + '/remove_question', {
					params: {
						question_id: questionId
					}
				}).then(res => {
					this.faqSetQuestions.splice(this.faqSetQuestions.indexOf(faqSetQuestion), 1)
					
					if (faqSetQuestion.question) {
						let questionFromResult = _.find(this.questionResults, ['id', questionId])
						
						if (questionFromResult) {
							this.$set(this.questionResults[this.questionResults.indexOf(questionFromResult)], 'checked', false)
						}
					}
				}).catch(err => {
					console.log(err)
				})
			},
			getQuestions() {
				let vm = this

				vm.questionResults = []

				if (vm.question.length < 1) {
					return
				}

				axios.get('/admin/questions', {
					params: {
						faq_set_id: this.faqSet.id,
						q: {
							body_cont: vm.question
						}
					}
				}).then(res => {
					vm.questionResults = res.data
				}).catch(err => {
					console.log(err)
				})
			},
			attach(question) {
				if (question.checked) {
					axios.post('/admin/faq_sets/' + this.faqSet.id + '/add_question/', {
						question_id: question.id
					}).then(res => {
						this.faqSetQuestions.push(res.data)
					}).catch(err => {
						console.log(err)
					})
				} else {
					this.removeQuestion(question)
				}
			}
		}
	}
</script>