<template>
	<div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
		      <input type="text" class="form-control" placeholder="Find FAQ sets" v-model="faqSetTitle">
		      <i class="form-group__bar"></i>
		    </div>
			</div>
			<div class="col-md-12" v-if="showSearchResult">
				<div class=""><!-- relative-width -->
					<div class="bg-primary"><!-- absolute-listview -->
						<div class="listview listview--bordered">
		          <div class="listview__item" v-for="(faqSet, i) in faqSetResults">
		            <label class="custom-control custom-checkbox align-self-start">
		              <input type="checkbox" class="custom-control-input" v-model="faqSet.checked" @change="attach(faqSet)">
		              <span class="custom-control-indicator"></span>
		            </label>
		            <div class="listview__content">
		            	<div class="listview__heading">
		            		{{ faqSet.title }}
		            	</div>
		            	<div class="listview__attrs">
	                  <span>{{ faqSet.creator }}</span>
		              </div>
		            </div>
		          </div>
		        </div>
					</div>
				</div>
        <div class="clearfix mb-3"></div>
			</div>
		</div>
		<div class="row" v-if="!hideList">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-inverse mb-0">
	          <thead>
		          <tr>
		            <th width="5%">#</th>
		            <th>Faq Set</th>
		            <th width="5%"></th>
		          </tr>
	          </thead>
	          <tbody>
		          <tr v-for="(sessionFaqSet, i) in sessionFaqSets">
		            <th scope="row">{{ i + 1 }}</th>
		            <td>{{ sessionFaqSet.faq_set.title }}</td>
		            <td>
		            	<div class="btn-group float-right">
		            		<button class="btn btn-danger btn-sm" @click="removeFaqSet(sessionFaqSet)">Remove</button>
		            	</div>
		            </td>
		          </tr>
	          </tbody>
		      </table>
	      </div>
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'

	export default {
		props: {
			session: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				faqSetTitle: "",
				sessionFaqSets: this.session.faq_sets,
				faqSetResults: []
			}
		},
		computed: {
			showSearchResult() {
				return this.faqSetResults.length >= 1
			},
			hideList() {
        return this.sessionFaqSets.length < 1
      }
		},
		watch: {
			faqSetTitle(newFaqSet, oldFaqSet) {
				this.debouncedGetFaqSets()
			}
		},
		created() {
			this.debouncedGetFaqSets = _.debounce(this.getFaqSets, 500)
		},
		methods: {
			removeFaqSet(sessionFaqSet) {
				let faqSetId = sessionFaqSet.faq_set ? sessionFaqSet.faq_set.id : sessionFaqSet.id

				axios.delete('/admin/events/' + this.session.event.id + '/sessions/' + this.session.id + '/remove_faq_set', {
					params: {
						faq_set_id: faqSetId
					}
				}).then(res => {
					this.sessionFaqSets.splice(this.sessionFaqSets.indexOf(sessionFaqSet), 1)

					if (sessionFaqSet.faq_set) {
						let faqSetFromResult = _.find(this.faqSetResults, ['id', faqSetId])
						
						if (faqSetFromResult) {
							this.$set(this.faqSetResults[this.faqSetResults.indexOf(faqSetFromResult)], 'checked', false)
						}
					}
				}).catch(err => {
					console.log(err)
				})
			},
			getFaqSets() {
				let vm = this

				vm.faqSetResults = []

				if (vm.faqSetTitle.length < 1) {
					return
				}

				axios.get('/admin/faq_sets', {
					params: {
						session_id: this.session.id,
						q: {
							title_cont: vm.faqSetTitle
						}
					}
				}).then(res => {
					vm.faqSetResults = res.data
				}).catch(err => {
					console.log(err)
				})
			},
			attach(faqSet) {
				if (faqSet.checked) {
					axios.post('/admin/events/' + this.session.event.id + '/sessions/' + this.session.id + '/add_faq_set/', {
						faq_set_id: faqSet.id
					}).then(res => {
						this.sessionFaqSets.push(res.data)
					}).catch(err => {
						console.log(err)
					})
				} else {
					this.removeFaqSet(faqSet)
				}
			}
		}
	}
</script>