<%- if controller_name != 'sessions' %>
  <%= link_to t("l.login"), new_session_path(resource_name), class: "dropdown-item" %>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to t("l.forgot_p"), new_password_path(resource_name), class: "dropdown-item" %>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t("l.didnt_receive_confirm_instruction"), new_confirmation_path(resource_name), class: "dropdown-item" %>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t("l.didnt_receive_unlock_instruction"), new_unlock_path(resource_name), class: "dropdown-item" %>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "dropdown-item" %>
  <% end -%>
<% end -%>
