<div class="card">
  <div class="card-header ptb1r" role="tab" id="faqsHeading<%= i + 1 %>">
    <a data-toggle="collapse" href="#faqs<%= i + 1 %>" aria-expanded="true" aria-controls="faqs<%= i + 1 %>">
      <%= t('l.faqs') %>
    </a>
  </div>

  <div id="faqs<%= i + 1 %>" class="collapse show" role="tabpanel" aria-labelledby="faqsHeading<%= i + 1 %>">
    <div class="card-body ptb1r">
      <% if session.session_faq_sets.any? %>
        <% session.session_faq_sets.each_with_index do |sfs, i| %>
          <a href="#" class="btn btn-sm btn-secondary btn--icon-text" data-target="#faqSetsModal<%= i + 1 %>" data-toggle="modal">
            <i class="zmdi zmdi-pin-help"></i>
            <%= sfs.faq_set.title %>
          </a>

          <div class="modal fade" id="faqSetsModal<%= i + 1 %>" data-backdrop="static" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title pull-left"><%= "#{t('l.faq_set')} - #{sfs.faq_set.title}" %></h5>
                </div>
                <div class="modal-body">
                  <div class="accordion" role="tablist">
                    <% sfs.faq_set.questions.each_with_index do |question, i| %>
                      <div class="card">
                        <div class="card-header ptb1r bg-green" role="tab" id="faqQustionHeading<%= i + 1 %>">
                          <a data-toggle="collapse" href="#faqQustion<%= i + 1 %>" aria-expanded="true" aria-controls="faqQustion<%= i + 1 %>">
                            <%= question.body %>
                          </a>
                        </div>

                        <div id="faqQustion<%= i + 1 %>" class="collapse" role="tabpanel" aria-labelledby="faqQustionHeading<%= i + 1 %>">
                          <div class="card-body ptb1r">
                            <%= question.answer %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= t("msg.no_result") %>
      <% end %>
    </div>
  </div>
</div>