<a href="#" data-target="#participantsModal<%= i + 1 %>" data-toggle="modal">
  <%= session.participants.count %>
</a>

<div class="modal fade" id="participantsModal<%= i + 1 %>" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left"><%= t("l.participants") %></h5>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover mb-3">
            <thead class="thead-default">
              <tr>
                <th>#</th>
                <th><%= t('l.name') %></th>
                <th><%= t('l.organization') %></th>
                <th><%= t('l.email') %></th>
                <th width="5%"></th>
              </tr>
            </thead>

            <tbody>
              <% session.participants.each_with_index do |participant, i| %>
                <tr>
                  <th scope="row"><%= i + 1 %></th>
                  <td><%= participant.name %></td>
                  <td><%= participant.organization %></td>
                  <td><%= participant.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>