<div class="modal fade" id="surveysModal<%= ss.id %>" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left"><%= "#{t('l.survey')} - #{ss.survey.title}" %></h5>
      </div>
      <div class="modal-body">
        <ol class="pl25">
          <% ss.survey.survey_questions.includes(:question).order('created_at ASC').each_with_index do |sq, i| %>
            <li>
              <%= sq.question.body %>

              <div class="pb-3"></div>
              
              <% if sq.likert_scale? %>
                <div class="btn-group btn-group--colors" data-toggle="buttons">
                  <label class="btn bg-red">
                    <input type="radio" name="dummy-radio" autocomplete="off">
                  </label>
                  <label class="btn bg-orange">
                    <input type="radio" name="dummy-radio" autocomplete="off">
                  </label>
                  <label class="btn bg-yellow">
                    <input type="radio" name="dummy-radio" autocomplete="off">
                  </label>
                  <label class="btn bg-cyan">
                    <input type="radio" name="dummy-radio" autocomplete="off">
                  </label>
                  <label class="btn bg-teal">
                    <input type="radio" name="dummy-radio" autocomplete="off">
                  </label>
                </div>
              <% else %>
                <input type="text" class="form-control" name="dummy-text">
              <% end %>

              <div class="pb-3"></div>

            </li>
          <% end %>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>