<%= page_title t("l.change_p") %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.input :password,
          label: false,
          required: true,
          input_html: { autocomplete: "new-password", class: "form-control text-center", placeholder: t("l.new_p") } %>
  <%= f.input :password_confirmation,
          label: false,
          required: true,
          input_html: { autocomplete: "new-password", class: "form-control text-center", placeholder: t("l.password_confirmation") } %>

  <%= button_tag(type: :submit, class: "btn btn--icon login__block__btn cursor-pointer") do %>
    <i class="zmdi zmdi-long-arrow-right"></i>
  <% end %>
<% end %>