<p>
	Dear <%= @participant.name %>,
</p>

<p>
	Welcome to <%= @event.title %>. Please find details below to login to HandzUp! apps: <br><br>

	<b><%= t("l.email") %></b><br>
	<%= @participant.email %><br><br>

	<b><%= t("l.invitation_code") %></b><br>
	<%= @event.invitation_code %><br><br>

	<b>URL</b><br>
	<%= link_to p_participant_unauthenticated_url, p_participant_unauthenticated_url %>
</p>

<p>
	Kindly note that the access to the apps will only be available when the event is live on <%= @event.date %>.
</p>

<p>
	Should you have any enquiries or require further clarification, please email us at <%= @event.creator.email %>.
</p>

<p>
	Thank you.
</p>

<p>
	<b><%= @event.creator.name %></b>
</p>