<p>
	Dear <%= @receiver.name %>,
</p>

<p>
	<% if @event.pending? %>
		Please be informed that there is event require your approval.
	<% else %>
		Please be informed that your following event request has been <%= @event.status.humanize.downcase %>
	<% end %>
</p>

<p>
	The event details are as following :<br><br>

	<b><%= t("l.event") %></b><br>
	<%= @event.title %><br><br>

	<b><%= t("l.date") %></b><br>
	<%= @event.date %><br><br>

	<b>URL</b><br>
	<%= link_to review_event_url(id: @event), review_event_url(id: @event) %>

	<% if @event.rejected? %>
		<br><br>
		<em>* Please review the comments and ensure that the information is complete.</em>
	<% end %>
</p>

<p>
	Thank you.
</p>

<p>
	<b>HandzUp Administrator</b>
</p>

