.w25p {
	width: 25%;
}

.salvatoreInit[data-columns]::before {
	display:block;
	visibility:hidden;
	position:absolute;
	font-size:1px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.pl25 {
	padding-left: 25px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.opacity0 {
	opacity: 0;
}

.event-value {
	line-height: 78px; 
	font-size: 30px; 
	color: rgb(255, 255, 255);
}

.badge-purple {
	color: #fff;
	background-color: #6f42c1;
}