<main class="main">
  <div class="page-loader">
    <div class="page-loader__spinner">
      <svg viewBox="25 25 50 50">
        <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
    </div>
  </div>

  <%= render "layouts/app/header" %>
  
  <% unless controller.controller_name == "sessions" && controller.action_name == "pubroom" %>
    <%= render "layouts/app/sidebar" %>
  <% end %>

  <!-- <div class="themes">
    <div class="scrollbar-inner">
      <a href="" class="themes__item active" data-sa-value="1"><img src="<%#= asset_pack_path('images/bg/1.jpg')%>" alt=""></a>
      <a href="" class="themes__item" data-sa-value="2"><img src="<%#= asset_pack_path('images/bg/2.jpg')%>" alt=""></a>
      <a href="" class="themes__item" data-sa-value="3"><img src="<%#= asset_pack_path('images/bg/3.jpg')%>" alt=""></a>
      <a href="" class="themes__item" data-sa-value="4"><img src="<%#= asset_pack_path('images/bg/4.jpg')%>" alt=""></a>
      <a href="" class="themes__item" data-sa-value="5"><img src="<%#= asset_pack_path('images/bg/5.jpg')%>" alt=""></a>
      <a href="" class="themes__item" data-sa-value="6"><img src="<%#= asset_pack_path('images/bg/6.jpg')%>" alt=""></a>
      <a href="" class="themes__item" data-sa-value="7"><img src="<%#= asset_pack_path('images/bg/7.jpg')%>" alt=""></a>
      <a href="" class="themes__item" data-sa-value="8"><img src="<%#= asset_pack_path('images/bg/8.jpg')%>" alt=""></a>
      <a href="" class="themes__item" data-sa-value="9"><img src="<%#= asset_pack_path('images/bg/9.jpg')%>" alt=""></a>
      <a href="" class="themes__item" data-sa-value="10"><img src="<%#= asset_pack_path('images/bg/10.jpg')%>" alt=""></a>
    </div>
  </div> -->

  <section class="<%= controller.controller_name == 'sessions' && controller.action_name == 'pubroom' ? 'content content--full' : 'content' %>">

    <% unless (controller.controller_name == "rooms" && controller.action_name == "show") || (controller.controller_name == "sessions" && (controller.action_name == "room" || controller.action_name == "pubroom")) %>
      <header class="content__title">
        <h1><%= yield :title %></h1>

        <%= yield :actions %>
      </header>
    <% end %>

    <%= flash_messages %>
    
    <%= yield %>

    <footer class="footer hidden-xs-down">
      <p>© HandzUp. All rights reserved.</p>
    </footer>
  </section>
</circle>