<div class="login">
  <div class="login__block active" id="l-login">
    <div class="login__block__header">
      <!-- <i class="zmdi zmdi-account-circle"></i> -->
      <i>HandzUp!</i>
      <%= yield :title %>

      <% if params[:controller].split("/").first == 'admins' %>
        <div class="actions actions--inverse login__block__actions">
          <div class="dropdown">
            <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

            <div class="dropdown-menu dropdown-menu-right">
              <%= render "admins/shared/links" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= flash_messages %>

    <div class="login__block__body">
      <%= yield %>
    </div>
  </div>
</div>
