<!DOCTYPE html>
<html>
  <head>
    <title>Handzup - <%= yield :title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= yield :vue %>
  </head>

  <body data-sa-theme="7">
    <% if (admin_signed_in? || p_participant_signed_in?) && controller.controller_name != 'p/home' %>
      <%= render "layouts/authenticated" %>
    <% else %>
      <% if devise_controller? || controller.controller_name != 'p/home' %>
        <%= render "layouts/unauthenticated_for_devise" %>
      <% else %>
        <%= yield %>
      <% end %>
    <% end %>
  </body>
</html>
