<template>
  <div>
    <div class="content__inner q-a">
      <div class="q-a__question">
          <div class="q-a__vote hidden-sm-down">
            <div class="q-a__vote__votes bg-danger text-uppercase">{{ sessionStatus }}</div>
          </div>

          <h2 class="text-uppercase">{{ session.title }}</h2>
          <p>{{ session.description }}</p>

          <div class="mt-4">
            <template v-if="!hideAttachments">
              <span data-target="#attachments-modal" data-toggle="modal">
                <a class="btn btn-dark btn--icon" data-toggle="tooltip" data-placement="bottom" data-original-title="Attachments">
                  <i class="zmdi zmdi-download"></i>
                </a>
              </span>

              <div class="modal fade" id="attachments-modal" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title pull-left">Attachments</h5>
                    </div>
                    <div class="modal-body">
                      <ol>
                        <li v-for="sa in sessionAttachments">
                          <a :href="sa.attachment.url" target="_blank">
                            <b>{{ sa.attachment.name }}</b>
                          </a>
                        </li>
                      </ol>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </template>

            <template v-if="!hideFaqs">
              <span data-target="#faqs-modal" data-toggle="modal">
                <a class="btn btn-dark btn--icon" data-toggle="tooltip" data-placement="bottom" data-original-title="FAQs">
                  <i class="zmdi zmdi-pin-help"></i>
                </a>
              </span>

              <div class="modal fade" id="faqs-modal" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title pull-left">FAQ's</h5>
                    </div>
                    <div class="modal-body">
                      <template v-for="sfs in sessionFaqSets">
                        <h6>{{ sfs.faq_set.title }}</h6>

                        <div class="accordion" role="tablist">
                          <div class="card" v-for="(fsq, i) in sfs.faq_set.questions">
                            <div class="card-header ptb1r bg-green" role="tab" :id="'FAQHead' + faqIdNaming(sfs.faq_set.id, i)">
                              <a data-toggle="collapse" :href="'#FAQ' + faqIdNaming(sfs.faq_set.id, i)" aria-expanded="true" :aria-controls="'FAQ' + faqIdNaming(sfs.faq_set.id, i)">
                                {{ fsq.question.body }}
                              </a>
                            </div>

                            <div :id="'FAQ' + faqIdNaming(sfs.faq_set.id, i)" class="collapse" role="tabpanel" :aria-labelledby="'FAQHead' + faqIdNaming(sfs.faq_set.id, i)">
                              <div class="card-body ptb1r">
                                {{ fsq.question.answer }}
                              </div>
                            </div>
                          </div>
                          <br>
                        </div>
                      </template>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </template>

            <template  v-if="!hideSurveys">
              <span data-target="#surveys-modal" data-toggle="modal">
                <a class="btn btn-dark btn--icon" data-toggle="tooltip" data-placement="bottom" data-original-title="Surveys">
                  <i class="zmdi zmdi-comment-edit"></i>
                </a>
              </span>

              <div class="modal fade" id="surveys-modal" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body">
                      <center  class="pb-5">
                        <span class="badge bg-red">Strongly Disagree</span>
                        <span class="badge bg-orange">Disagree</span>
                        <span class="badge bg-yellow">Moderate</span>
                        <span class="badge bg-cyan">Agree</span>
                        <span class="badge bg-teal">Strongly Agree</span>
                      </center>
                      <template v-for="(ss, i) in sessionSurveys">
                        <h3>{{ ss.survey.title }}</h3>

                        <template  v-if="!ss.submitted && !isAdmin">
                          <ol>
                            <li v-for="(sq, i) in ss.survey.questions">
                              {{ sq.question.body }}

                              <div class="pb-3"></div>
                              
                              <template v-if="sq.format == 'Likert scale'">
                                <div class="btn-group btn-group--colors">
                                  <label :class="['btn bg-' + scale.color, { active: Number(sq.question.response) === scale.weight }]" v-for="scale in scales">
                                    <input type="radio" class="opacity0" :name="'survey' + ss.survey.id + 'Q' + sq.question.id" :value="scale.weight" v-model="sq.question.response" autocomplete="off">
                                  </label>
                                </div>
                              </template>
                              <template v-else>
                                <input type="text" class="form-control" :name="'survey' + ss.survey.id + 'Q' + sq.question.id" v-model="sq.question.response" autocomplete="off" placeholder="Optional">
                              </template>

                              <div class="pb-3"></div>
                            </li>
                          </ol>

                          <div class="mt-3 text-center">
                            <div class="alert alert-danger" role="alert" v-if="ss.hasError">
                                Please complete this survey before you submit
                            </div>
                            <button class="btn btn-light" @click="submitSurvey(ss)">Submit</button>
                          </div>
                        </template>
                        <template v-else-if="ss.submitted && !isAdmin">
                          Survey has been submitted
                        </template>
                        <template v-else>
                          <ol>
                            <li v-for="(sq, i) in ss.survey.questions">
                              {{ sq.question.body }}

                              <div class="pb-3"></div>
                              
                              <template v-if="sq.format == 'Likert scale'">
                                <div class="btn-group btn-group--colors">
                                  <label :class="['btn bg-' + scale.color]" v-for="scale in scales">
                                    <input type="radio" class="opacity0" :value="scale.weight" autocomplete="off">
                                  </label>
                                </div>
                              </template>
                              <template v-else>
                                <input type="text" class="form-control" autocomplete="off">
                              </template>

                              <div class="pb-3"></div>
                            </li>
                          </ol>
                        </template>

                        <div class="pb-3"></div>
                      </template>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </template>
            
            <template v-if="!hidePolls">
              <span data-target="#polls-modal" data-toggle="modal">
                <a class="btn btn-dark btn--icon" data-toggle="tooltip" data-placement="bottom" data-original-title="Polls">
                  <i class="zmdi zmdi-thumb-up-down"></i>
                </a>
              </span>

              <div class="modal fade" id="polls-modal" data-backdrop="static" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title pull-left">Poll</h5>
                    </div>
                    <div class="modal-body">
                      <template v-for="(poll, i) in sessionPolls">
                        <h6 class="mb-3">{{ poll.title }}</h6>
                        
                        <div class="row">
                          <div class="col-md-12">
                            <template v-if="isAdmin">
                              <ul>
                                <li v-for="item in poll.poll_items">
                                  {{ item.item }} ({{ item.votes }}) | <a class="text-red" @click="removePollItem(item)">Remove</a>
                                </li>
                                <div class="row" v-if="sessionStarted">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <input type="text" class="form-control" placeholder="Add item" v-model="poll.newItem">
                                      <i class="form-group__bar"></i>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <button class="btn btn-success" @click="addPollItem(poll)" :disabled="disableAddPollItem(poll.newItem)">Add</button>
                                  </div>
                                </div>
                              </ul>
                            </template>
                            <template v-for="item in poll.poll_items" v-else>
                              <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" v-model="item.voted" @change="polling(item)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">
                                  <b :class="{ 'text-success': item.voted }">{{ item.item }} ({{ item.votes }})</b>
                                </span>
                              </label>
                              <div class="clearfix mb-2"></div>
                            </template>
                          </div>
                        </div>
                      </template>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </template>

            <a class="btn btn--icon btn-dark" data-toggle="tooltip" data-placement="bottom" data-original-title="Public view" v-if="isAdmin && !isPubroom" :href="pubroomPath" target="_blank">
              <i class="zmdi zmdi-cast"></i>
            </a>
          </div>
      </div>
    </div>

    <div class="content__inner content__inner--lg">
      <div class="card">
        <div class="toolbar toolbar--inner" v-if="isAdmin && !isPubroom">
          <div class="toolbar__label">
            <span class="badge badge-success">{{ sessionQuestions.accepted.questions.length }} accepted</span>
            <span class="badge badge-warning">{{ sessionQuestions.pending.questions.length }} new</span>
            <span class="badge badge-info">{{ sessionQuestions.answered.questions.length }} answered</span>
            <span class="badge badge-danger">{{ sessionQuestions.banned.questions.length }} banned</span>
          </div>
        </div>

        <div class="listview listview--bordered listview--block">
          <template v-for="(v, k) in sessionQuestions">
            <div class="listview__item" v-for="(sq, i) in v.questions" v-if="((!isAdmin && k != 'banned') || (isAdmin && !isPubroom) || (isAdmin && isPubroom && k != 'banned'))"> <!-- v-if="isShowable(sq)" -->
              <p><b>{{ sq.question.body }}</b></p>

              <div class="q-a__info">
                <div class="q-a__op">
                  <span class="badge" :class="{ 'badge-success': sq.status == 'accepted', 'badge-warning': sq.status == null, 'badge-info': sq.status == 'answered', 'badge-danger': sq.status == 'banned' }" v-if="((isAdmin && !isPubroom) || (isAdmin && isPubroom && sq.status == 'answered') || (!isAdmin && sq.status == 'answered'))">#{{ sq.status ? sq.status : "new" }}</span>
                  <span class="badge" :class="{ 'badge-success': sq.participant.id == cpid, 'badge-info': sq.participant.id != cpid }" v-if="isAdmin && !isPubroom">{{ sq.participant.name }}</span>
                </div>

                <div class="actions"> <!-- hidden-sm-down -->
                  <template v-if="isAdmin">
                    <div class="btn-group float-right" v-if="!isPubroom">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle text-capitalize" data-toggle="dropdown" aria-expanded="false">
                          {{ sq.status == null ? 'N/A' : sq.status }}
                        </button>
                        <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -85px, 0px); top: 0px; left: 0px; will-change: transform;">
                          <a class="dropdown-item" @click="updateQuestionStatus(sq.id, 'accepted')">Accept</a>
                          <a class="dropdown-item" @click="updateQuestionStatus(sq.id, 'banned')">Ban</a>
                          <a class="dropdown-item" @click="updateQuestionStatus(sq.id, 'answered')">Answered</a>
                        </div>
                      </div>
                    </div>
                    <div v-else>
                      {{ sq.likers }} Likes
                    </div>
                  </template>
                  <template v-else>
                    <template v-if="sessionStarted">  <!-- && sq.status == 'accepted' -->
                      <div class="actions__item">
                        <div class="icon-toggle">
                          <input type="checkbox" v-model="sq.liked" @change="like(sq)">
                          <i class="zmdi zmdi-thumb-up"></i>
                        </div>
                      </div>

                      <div>
                        {{ sq.likers }}
                      </div>

                      <div class="actions__item">
                        <div class="icon-toggle">
                          <input type="checkbox" v-model="sq.disliked" @change="dislike(sq)">
                          <i class="zmdi zmdi-thumb-down"></i>
                        </div>
                      </div>
                    </template>
                    <template v-else>
                      <div>
                        {{ sq.likers }} Likes
                      </div>
                    </template>
                  </template>
                </div>
              </div>
            </div>
          </template>

          <div class="listview__item" v-if="!isAdmin && sessionStarted">
            <div class="form-group">
              <textarea class="form-control" autofocus placeholder="Start typing..." v-model="participantQuestion"></textarea>
              <i class="form-group__bar"></i>
            </div>

            <button class="btn btn-light" @click="createQuestion" :disabled="disableCreate">Ask</button>
          </div>

          <div class="p-1"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      session: {
        type: Object,
        required: true
      },
      isAdmin: {
        type: Boolean,
        required: true
      },
      cpid: {
        type: Number,
        required: false
      },
      isPubroom: {
        type: Boolean,
        required: false
      }
    },
    data() {
      return {
        sessionStatus: this.session.status,
        sessionAttachments: this.session.attachments,
        sessionFaqSets: this.session.faq_sets,
        sessionSurveys: this.session.surveys,
        sessionPolls: this.session.polls,
        pubroomPath: '/admin/events/' + this.session.event.id + '/sessions/' + this.session.id + '/pubroom/',
        sessionQuestions: {
          accepted: {
            questions: _.filter(this.session.session_questions, ['status', 'accepted'])
          },
          pending: {
            questions: _.filter(this.session.session_questions, ['status', null])
          },
          answered: {
            questions: _.filter(this.session.session_questions, ['status', 'answered'])
          },
          banned: {
            questions: _.filter(this.session.session_questions, ['status', 'banned'])
          }
        },
        participantQuestion: "",
        scales: [
          {
            name: "strongly_disagree",
            weight: 1,
            color: "red"
          },
          {
            name: "disagree",
            weight: 2,
            color: "orange"
          },
          {
            name: "neutral",
            weight: 3,
            color: "yellow"
          },
          {
            name: "agree",
            weight: 4,
            color: "cyan"
          },
          {
            name: "strongly_agree",
            weight: 5,
            color: "teal"
          }
        ],
        channel: null
      }
    },
    computed: {
      disableCreate() {
        return this.participantQuestion.length < 1
      },
      sessionStarted() {
        return this.sessionStatus == 'started'
      },
      hideFaqs() {
        return this.sessionFaqSets.length < 1
      },
      hidePolls() {
        return this.sessionPolls.length < 1
      },
      hideSurveys() {
        return this.sessionSurveys.length < 1
      },
      hideAttachments() {
        return this.sessionAttachments.length < 1
      }
    },
    created() {
      this.channel = this.$cable.subscriptions.create("SessionRoomChannel", {
        received: (data) => {
          // ENSURE ONLY THIS ROOM WILL GET UPDATED
          if (data.room_id == this.session.id) {
            switch (data.scope) {
              case 'session_status':
                this.$set(this, 'sessionStatus', data.status)
                break
              case 'session_question':
                this.sessionQuestions.pending.questions.unshift(data.session_question)
                // CALCULATE
                // this.calculateTotalQuestions()
                break
              case 'session_question_status':
                if (data.prev_status != data.session_question.status) {
                  let prev_sq = _.find(this.sessionQuestions[data.prev_status].questions, ['id', data.session_question.id])
                  // DESTROY PREV SQ
                  this.sessionQuestions[data.prev_status].questions.splice(this.sessionQuestions[data.prev_status].questions.indexOf(prev_sq), 1)
                  // PUSH NEW SQ
                  this.sessionQuestions[data.session_question.status].questions.unshift(data.session_question)
                } else {
                  // DO NOTHING
                }
                break
              case 'session_vote':
                let sq_for_vote = _.find(this.sessionQuestions[data.session_question.status].questions, ['id', data.session_question.id])
                console.log(sq_for_vote)
                // UPDATE TOTAL LIKES / DISLIKES
                this.$set(this.sessionQuestions[data.session_question.status].questions[this.sessionQuestions[data.session_question.status].questions.indexOf(sq_for_vote)], 'likers', data.session_question.likers)
                break
              case 'session_poll':
                let poll      = _.find(this.sessionPolls, ['id', data.poll_item.poll_id])
                let poll_item = _.find(poll.poll_items, ['id', data.poll_item.id])
                let poll_index      = this.sessionPolls.indexOf(poll)
                let poll_item_index = this.sessionPolls[poll_index].poll_items.indexOf(poll_item)
                // UPDATE TOTAL VOTES
                this.$set(this.sessionPolls[poll_index].poll_items[poll_item_index], 'votes', data.poll_item.votes)
                break
              case 'add_poll_item':
                let poll_items = _.find(this.sessionPolls, ['id', data.poll_item.poll_id]).poll_items
                poll_items.push(data.poll_item)
                break
              case 'remove_poll_item':
                let removed_poll_item_poll = _.find(this.sessionPolls, ['id', data.poll_item.poll_id])
                let removed_poll_item = _.find(removed_poll_item_poll.poll_items, ['id', data.poll_item.id])
                let removed_poll_item_poll_index = this.sessionPolls.indexOf(removed_poll_item_poll)
                // DESTROY
                this.sessionPolls[removed_poll_item_poll_index].poll_items.splice(this.sessionPolls[removed_poll_item_poll_index].poll_items.indexOf(removed_poll_item), 1)
                break
              default:
                // DO NOTHING
            }
          }
        }
      })
      // CALCULATE
      // this.calculateTotalQuestions()
    },
    methods: {
      isShowable(sq) {
        if (this.isAdmin) {
          return true
        }

        switch (sq.status) {
          case 'accepted':
            return true
            break
          case 'banned':
            return false
            break
          default:
            return sq.participant.id == this.cpid
        }
      },
      disableAddPollItem(item) {
        return !item || item && item.length < 1
      },
      createQuestion() {
        axios.post('/p/rooms/' + this.session.key + '/create_question', {
          question: {
            body: this.participantQuestion
          }
        }).then(res => {
          this.$set(this, 'participantQuestion', "")
        }).catch(err => {
          console.log(err.response)
        })
      },
      updateQuestionStatus(sqId, status) {
        axios.post('/admin/events/' + this.session.event.id + '/sessions/' + this.session.id + '/update_question_status/', {
          session_question_id: sqId,
          status: status
        }).then(res => {
          // OK!
        }).catch(err => {
          console.log(err.response)
        })
      },
      addPollItem(poll) {
        axios.post('/admin/events/' + this.session.event.id + '/sessions/' + this.session.id + '/add_poll_item/', {
          poll_id: poll.id,
          poll_item: {
            item: poll.newItem
          }
        }).then(res => {
          poll.newItem = ""
        }).catch(err => {
          console.log(err.response)
        })
      },
      removePollItem(poll_item) {
        axios.delete('/admin/events/' + this.session.event.id + '/sessions/' + this.session.id + '/remove_poll_item/', {
          params: {
            poll_item_id: poll_item.id
          }
        }).then(res => {
          // OK!
        }).catch(err => {
          console.log(err)
        })
      },
      like(sq) {
        if (sq.liked) {
          this.updateVote(sq, 'like')
        } else {
          this.updateVote(sq, 'unlike')
        }
      },
      dislike(sq) {
        if (sq.disliked) {
          this.updateVote(sq, 'dislike')
        } else {
          this.updateVote(sq, 'undislike')
        }
      },
      updateVote(sq, act) {
        axios.patch('/p/rooms/' + this.session.key + '/vote', {
          session_question_id: sq.id,
          act: act
        }).then(res => {
          let session_question = _.find(this.sessionQuestions[res.data.status].questions, ['id', res.data.id])
          // UPDATE
          this.$set(this.sessionQuestions[session_question.status].questions[this.sessionQuestions[session_question.status].questions.indexOf(session_question)], 'liked', res.data.liked)
          this.$set(this.sessionQuestions[session_question.status].questions[this.sessionQuestions[session_question.status].questions.indexOf(session_question)], 'disliked', res.data.disliked)
        }).catch(err => {
          console.log(err.response)
        })
      },
      polling(poll_item) {
        let act = poll_item.voted ? 'vote' : 'unvote'

        axios.patch('/p/rooms/' + this.session.key + '/poll', {
          poll_item_id: poll_item.id,
          act: act
        }).then(res => {
          // OK!
        }).catch(err => {
          console.log(err.response)
        })
      },
      faqIdNaming(p, i) {
        return p + 'Q' + (i + 1)
      },
      constructedSurveyResponses(surveyQuestions) {
        let responses   = []

        _.forEach(surveyQuestions, function(sq) {
          responses.push({
            question_id: sq.question.id,
            answer: sq.question.response
          })
        })

        return responses
      },
      submitSurvey(sessionSurvey) {
        axios.post('/p/rooms/' + this.session.key + '/submit_survey', {
          participant_survey: {
            session_survey_id: sessionSurvey.id,
            participant_survey_responses_attributes: this.constructedSurveyResponses(sessionSurvey.survey.questions)
          }
        }).then(res => {
          let ss = _.find(this.sessionSurveys, ['id', res.data.session_survey_id])
          // UPDATE
          this.$set(ss, 'submitted', true)
          this.$set(ss, 'hasError', false)
        }).catch(err => {
          let errors = err.response.data["participant_survey_responses.answer"]
          let ss     = _.find(this.sessionSurveys, ['id', sessionSurvey.id])
          // UPDATE
          if (errors.length >= 1) {
            this.$set(ss, 'hasError', true)
          }
        })
      }
    }
  }
</script>